
/* Input.module.css */

.input {
    border: 1px solid;
    border-color: var(--theme-primary-color-5);
    text-align: center;
    background-color: #f7f7f5
}

.inputNumber {
    border: 1px solid;
    border-color: var(--theme-primary-color-5);
    text-align: center;
    width: 120px;
    background-color: #f7f7f5

}

.inputText {
    border: 1px solid;
    border-color: var(--theme-primary-color-5);
    text-align: center;
    width: 100%;
    background-color: #f7f7f5
}

/* Style the placeholder */

.input::placeholder {
    color: #868e96;
    opacity: 1;
}

.input{
    transition: none;
&:focus-within {
     border: 1px solid;
     border-color: var(--theme-secondary-color-5);
     background: #fbf7ef;
 }
}

