
/* Input.module.css */

.input {
    border: 1px solid;
    border-color: var(--theme-primary-color-5);
    text-align: center;
    background-color:white;
}

.inputNumber input{
    border: 1px solid;
    border-color: var(--theme-tertiary-color-5);
    text-align: center;
    background-color:white;

}

.inputText input{
    border: 2px solid;
    border-color: #878181 !important;
    text-align: left!important;
    font-size: 12px!important;
    width: 100%;
    background-color:white;
    padding-left:8px!important;
    border-radius: 2px!important;
}
.inputText select{
    border: 2px solid;
    border-color: #878181 !important;
    text-align: left!important;
    font-size: 12px!important;
    width: 100%;
    background-color: #f7f7f5;
    padding-left:8px!important;
    border-radius: 2px!important;
}

/* Style the placeholder */

.input::placeholder {
    color: #868e96;
    opacity: 1;
}

.input{
    transition: none;
&:focus-within {
     border: 2px solid;
     border-color: #878181 !important;
     background: #fbf7ef;
 }
}

.date_picker_custom{
    height: 20px !important;
    border-radius: 4px;
    padding-inline: 8px;
    border-color: #878181 !important;
    font-size: 12px;
    width: 80px!important;
    input{
        height: 20px !important;
    }
}


