.label {
    margin-bottom: 0px;
}

/* Input.module.css */
.input {
    border: 2px solid var(--theme-tertiary-color-6) !important;
    min-height: auto !important;
}

/* Style the placeholder */

.input::placeholder {
    color: #868e96;
    opacity: 1;
}

.input {
    transition: none;
    &:focus-within {
        border: 2px solid var(--mantine-color-green-8) !important;
        border-color: var(--mantine-color-green-8) !important;
    }
}