.label {
    margin-bottom: 0px;
}

/* Input.module.css */
.input, textarea {
    border: 2px solid var(--theme-tertiary-color-6) !important;
}

/* Style the placeholder */

.input::placeholder , .textarea::placeholder {
    color: #868e96;
    opacity: 1;
}

.input,textarea {
    border: 2px solid red;
    transition: none;

    &:focus-within {
        border: 2px solid var(--mantine-color-green-8) !important;
        border-color: var(--mantine-color-green-8) !important;
    }
}